
.nav {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    height:150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border-radius: 15px;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.link a:hover:not(.active) {
    background-color: #111111;
    border-radius: 15px;
}

.active {
    background-color: #4CAF50;
    border-radius: 15px;
}

.title {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.parallax1 {
    background-image: url("factory.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    height:1200px;
    background-color:#4CAF50;
    font-size:36px;
}

.textI {
    height:500px;
    background-color:#4CAF50;
    font-size:36px;
}

.input {
    border-color: #4CAF50;
    border-radius: 15px;
}

.sub {
    background-color: #333333;
    border-color: #333333;
    border-radius: 15px;
    color: #ffffff
}

canvas {
    height: 500px;
    width: 1423px;
    background-color: #ffffff;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.submit {
    background-color: #333333;
    color: #ffffff;
    border-radius: 15px;
    width: 70px;
    height: 40px;
}

.in {
    border-radius: 15px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.extended, .collapsible:hover {
    background-color: #555;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}